.card {
    transition:all 0.3s;

}
.card:hover {
    transform: scale(1.15);
}
.card:hover{
    background-color: rgb(100, 5, 52) !important;

}
.h3 {
    font-family: 'Oswald', sans-serif;
}
.h1 {
    font-family: 'Oswald', sans-serif;
}
a:hover{
    text-decoration: none;

}
.btn {
    transition:all 0.3s;

}
.btn:hover {
    transform: scale(1.15);
}

ul li:hover {
    transform: scale(1.15);
}

@media (max-width: 991px) {
.navbar {
        left: 80%;

    }
}